footer {
    background-color: #65a192;
    color: white;
    height : 50px;
}

#footer {
    width: 980px;
    margin: auto;
}

#footer > p {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    float: right;
}

#footer > img {
    margin: 12px 0 0 40px;
    vertical-align: top;
}

.wrapper {
    min-height: 100%;
    height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 10 auto -50px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 50px; /* .push must be the same height as .footer */
}

