html {
    height: 100%;
}
.nomGroupe
{
    text-align: center;
    
}
.descritpion
{
    text-align: center;
}
.image
{   
    text-align: center;
    height: 20px;

}
.Admin
{
    text-align: center;
    
}



body {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Titillium Web', sans-serif;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #467367;
}

a:visited {
    color: #467367;
}

ul {
    list-style-type: none;
}

h1 {
    margin: 0;
    padding: 40px 15px 5px;
    text-align: center;
    font-weight: 100;
}

h2 {
    padding: 15px 0;
    background: #d4e1d9;
    text-align: center;
    font-size: 18px;
    color: #65a192;
}

h3 {
    color: #242b32;
    letter-spacing: 1px;
    margin: 0;
}

.center {
    text-align: center;
}

.letterSpacing {
    letter-spacing: 1px;
}

.lightColor {
    color: #9d9d9d;
}

.separation {
    height: 1px;
    width: 980px;
    margin: 50px auto;
    background: #d4e1d9;
}

.underline {
    border-bottom: 1px dotted rgba(0,0,0,.5);
}

.clear {
    clear: both;
    height: 0px;
}

.column {
    display: inline-block;
    width: 400px;
}

.column:nth-child(1n) {
    margin-left: 60px;
}

#container {
    position: relative;
    width: 980px;
    margin: auto;
    padding: 50px 0 200px 0;
    text-align: center;
}

#container ul li a {
    color: black;
}

#content {
    min-height: 50px;
}

#buton
{
}

/* Page d'acceuil Evenement */
#catalogue li {
    display: inline-block;
    height: 130px;
    width: 200px;
    padding-top: 90px;
    margin: 60px 30px 0 0;
    background: #65A192;
    text-align: center;
}

#catalogue ul li a {
    color: white;
}

/* DÃ©tail d'un album */
#ajoutPanier {
    display: inline-block;
}

#ajoutPanier input {
    border: none;
    background: #65A192;
    color: white;
    font-size: 12px;
    padding: 4px 6px;
}

#rechercheAmazon {
    background: #65A192;
    color: white;
    font-size: 13px;
    padding: 2px 8px;
}

/* Panier d'achat */
#supprimer {
    position: absolute;
    height: 20px;
    width: 20px;
    right: 30px;
    top: 65px;
    background: url("../img/delete.png") 0px 0px no-repeat;
}

#nbArticle {
    position: absolute;
    top: 50px;
    right: 0px;
    background: url("../img/grandPanier.png") 0px 0px no-repeat;
    height: 40px;
    width: 50px;
    padding-left: 15px;
}

.articlePanier {
    padding: 20px;
    margin-top: 40px;
    background: #edf2ef;
    position: relative;
}

.articlePanier img {
    width: 100px;
    margin-right: 20px;
}

.infoArticle {
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}

/* Sous menu de la recherche */
#menuRecherche {
    position: absolute;
    top: 110px; left: 0; right:0;
    background: #242b32;
    height: 40px;
}

#menuCenter {
    width: 980px;
    margin: auto;
}

#menuCenter a {
    line-height: 40px;
    padding: 7px 85px;
    font-weight: bold;
    color: white;
}

.active {
    background: #65a192;
}

/* Recherche (catalogue) */
#search {
    background: #65a192;
    padding: 10px 0 2px;
    height: 40px;
    color: white;
}

#search form {
    width: 980px;
    margin: auto;
}

#search input {
    width: 130px;
}

#search #type {
    margin-right: 15px;
}

#search #submitImg {
    border: none;
    width: 18px;
    height: 18px;
    background: #37424C;
}


/* Zone de recherche */
#searchIndex {
    text-align: center;
}

#searchIndex form {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    padding: 15px 10px 15px 20px;
    background-color: #EDECE8;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
    border-radius: 3px;
    text-align: left;
}


/* Select avec options */
#searchIndex #type,
#search #type {
    position: relative;
    display: inline-block;
    width: 160px;
    background: url('../img/puce.png') 145px 14px no-repeat white;
    border: 1px solid #CCC;
    padding: 0 4px;
    font-size: 14px;
    color: #888;
}

#searchIndex #type ul,
#search #type ul {
    display: none;
    margin:0;
    padding: 10px 0;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    border: 1px solid #CCC;
    background: white;
    z-index: 2;
}

#searchIndex #type:hover ul,
#search #type:hover ul {
    display: inline-block;
}

#searchIndex #type ul li,
#search #type ul li {
    padding: 5px;
}

#searchIndex #type ul li:hover,
#search #type ul li:hover {
    cursor: pointer;
    color: white;
    background: #538D93;
}

#searchIndex input,
#search input {
    border: 1px solid #CCC;
    padding: 7px 10px;
    margin: 0 5px;
}

#searchIndex .inputEmpty {
    border: 1px solid RED;
}

#searchIndex label {
    color: #888;
    padding: 0;
    padding: 2px 0 0 15px;
}

/* Boutton de recherche */

#submitImg {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    height: 23px;
    width: 17px;
    cursor: pointer;
    margin: 0 15px;
    background: #50878D;
    color: #fff;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#submitImg::after {
    position: absolute;
    display: block;
    content: "";
    top:0;
    left:0;
    height: 30px;
    width: 30px;
    background: url("../img/search.png") no-repeat scroll 9px 6px;
}

#submitImg:hover {
    background: #57939A;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* RÃ©sultat de la recherche */

#result {
    position: absolute;
    top: 20px;
    left: 50px;
}

#result p {
    display: inline;
    margin-right: 10px;
}

#result span {
    display: inline-block;
    margin-right: 10px;
    padding: 0px 8px;
    background: #d4e1d9;
    font-size: 12px;
    font-weight: bold;
    color: #65a192;
}

/* Elements rÃ©sultats de la recherche */

#content {
    margin-top: 40px;
    min-width: 900px;
}

.scrollable {
    max-height: 800px;
    overflow-y: scroll;
}

section .item {
    width: 200px;
    margin: 20px 15px;
    padding-bottom: 20px;
    background-color: #d4e1d9;
    text-align: center;
}

section .item img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
}

section .item > p {
    margin: 0;
    color: #65a192;
    font-weight: bold;
}

section .item p + p{
    line-height: 15px;
    font-size: 12px;
    letter-spacing: -1px;
    color: #242b32;
}

/* Page d'un musicien */
.photoMiniature {
    max-width: 100px;
    height: auto;
}

#infoMusicien,
#infoAlbum {
    display: inline-block;
    width: 700px;
    vertical-align: top;
    padding-left: 20px;
}

#infoMusicien p,
#infoAlbum p {
    line-height: 16px;
}

/* Affichage d'un morceau */
#containerMorceau {
    text-align: center;
}

.morceau {
    display: inline-block;
    margin: 10px 20px;
    width: 350px;
}

.morceau p {
    margin: 0;
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 5px;
}

audio {
    background: #37424C;
    width: 350px;
}

/* Connexion de l'utilisateur */
#formConnexion {
    width: 300px;
    margin: 30px auto 0;
    text-align: center;
}

#formConnexion input,
#createCompte input {
    width: 236px;
    height: 30px;
    margin-bottom: 20px;
    padding: 5px;
    border: none;
    border: 1px solid #CCC;
}

#formConnexion input:first-child {
    padding: 5px 5px 5px 40px;
    background: url('./img/id.png') 10px 10px no-repeat;
}

#formConnexion input:nth-child(2) {
    padding: 5px 5px 5px 40px;
    background: url('./img/password.png') 10px 10px no-repeat;
}

.submit {
    height: 40px;
    width: 275px;
    margin-top: 20px;
    padding: 0 !important;
    background: #65a192;
    color: white;
    cursor: pointer;
}

/* Page de crÃ©ation de compte */
#createCompte {
    width: 600px;
    margin: auto;
    text-align: center;
}
/* Compte utilisateur */
#menuCenter p {
    font-weight: bold;
    color: white;
    line-height: 5px;
}

/* PAGE a propos */
.apparte {
    font-size: 14px;
    color: #444;
}
